body{
    margin:0;
    padding:0;
    background:radial-gradient(circle at center,#000 40%,#111 100%);
    font-family:tahoma;
    color:white;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}


.star{
    position:absolute;
    width:2px;
    height:2px;
    background:gold;
    border-radius:50%;
    animation:twinkle 2s infinite alternate;
}
@keyframes twinkle{
    from{opacity:0.2; transform:scale(0.8);}
    to{opacity:1; transform:scale(1.2);}
}

#lockScreen{text-align:center;}

input{
    padding:12px;
    border-radius:15px;
    border:none;
    margin:10px;
    text-align:center;
}

button{
    padding:10px 25px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,gold,#FFD700);
    cursor:pointer;
    font-weight:bold;
    margin-top:15px;
    transition:0.3s;
}
button:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px gold;
}


.card{
    display:none;
    background:rgba(255,215,0,0.08);
    border:1px solid gold;
    padding:45px;
    border-radius:30px;
    width:380px;
    text-align:center;
    box-shadow:0 0 50px gold;
    animation:fadeIn 1.5s ease forwards;
}
@keyframes fadeIn{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

.gold{
    font-size:30px;
    font-weight:bold;
    background:linear-gradient(90deg,#FFD700,#fff,#FFD700);
    background-size:200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    animation:shine 3s infinite linear;
}
@keyframes shine{
    0%{background-position:-100%;}
    100%{background-position:100%;}
}


.second{
    position:fixed;
    inset:0;
    background:black;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:gold;
    padding:30px;
    z-index:10;
}

canvas{
    position:absolute;
    inset:0;
    pointer-events:none;
}